<h1>Flights Index</h1>
  <% @flights.each do |flight| %>
    <section id="flight-<%= flight.id %>">
      <p><%= flight.number %></p>
      <p><%= flight.departure_city %></p>
      <p><%= flight.arrival_city %></p>
    </section>
  <% end %>
